@import 'variables';

.section-one-background {
  background-color: $color-dark-medium;
  background-image: url('../images/profile-pic.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-top: 50px;
  padding-bottom: 50px;

  p {
    color: $white;
    font-size: $font-medium;
    padding-top: 20px;

    a {
      color: $link-color;
    }
  }
}

.headings {
  @extend %navbar-brand;
  font-size: $font-large;
  letter-spacing: 2px;
  padding-top: 80px;
}
