@import 'variables';

.section-background {
  padding-bottom: 50px;

  p {
    color: $white;
    font-size: $font-medium;
    padding-top: 20px;

    a {
      color: $link-color;
    }
  }

  .btn {
    margin: 40px 0;
  }
}

.headings {
  @extend %navbar-brand;
  font-size: $font-large;
  letter-spacing: 2px;
  padding: 80px 0 40px;
}

.section-two-bg-colour {
  background-color: $color-dark-light;
}

.section-three-bg-colour {
  background-color: $color-grey;
}
