// FONT
$font-large:	40px;
$font-medium:	24px;
$font-defualt:	16px;
$font-small:	12px;

$font-family:	'Roboto', sans-serif;

// COLOUR
$white: 	#fff;
$color-dark-medium: #4f4f4f;
$color-dark-light: #6e6e6e;
$link-color: #f5a623;
